
<div style="text-align: center; ">
  <span class="btn btn-primary"
        style="display:inline-block">
          <%= link_to "prev", root_path(year: @date.last_year.year.to_s, month: @date.month.to_s),
          {style: "text-decoration: none; color: white"} %>
  </span>

  <h1 style="display:inline-block; margin-left: 5rem; margin-right: 5rem"> <%= @date.year %> </h1>

  <span class="btn btn-primary" 
        style="display:inline-block">
        <%= link_to "next", root_path(year: @date.next_year.year.to_s, month: @date.month.to_s),
        {style: "text-decoration: none; color: white"} %>
  </span>
</div>

<div style="text-align: center">
  <span class="btn btn-primary" 
        style="display:inline-block">
        <%= link_to "prev", root_path(year: @date.year.to_s, month: @date.last_month.month.to_s),
        {style: "text-decoration: none; color: white"} %>
  </span>

  <h2 style="display:inline-block; margin-left: 5rem; margin-right: 5rem"> <%= @date.strftime("%B") %> </h2>

  <span class="btn btn-primary" 
        style="display:inline-block">
        <%= link_to "next", root_path(year: @date.year.to_s, month: @date.next_month.month.to_s),        
        {style: "text-decoration: none; color: white"} %>
  </span>
</div>


<div style="display: flex; justify-content: center">
  <div style="width: 990px">
    <% (Time.days_in_month(@date.month, @date.year)).times do |day|%>
      <%= render "event_on_main_page", day: day%>
    <%end%>
  </div>
</div>